target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore compiled Java class files
*.class

# Ignore build directories
/target/
/build/

# Ignore WAR/JAR files
*.war
*.jar

# IntelliJ IDEA project files
.idea/
shelf/
workspace.xml

# Logs
*.log

# HTTP request files (for IntelliJ HTTP Client)
httpRequests/

# Database tool configs (e.g., DataGrip, IntelliJ)
dataSources/
dataSources.local.xml

Thumbs.db

src/main/resources/db.properties
src/main/resources/image.properties