
body {
    background-color: #f5f5f5;
    line-height: 1.6;
    padding: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    max-width: 50%;
    margin: 0 auto ;
    margin-bottom: 30px;
}

.contact-info h2,
.contact-form h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
}

.contact-info .info-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-info .info-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: calc(50% - 10px);
}

.contact-info .info-item i {
    font-size: 1.5em;
    color: #333;
}

.contact-info .info-item p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

.contact-form p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form .form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.contact-submit {
    padding: 10px 15px;
    border: none;
    background-color: #050403;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-submit:hover {
    background-color: #2b2b2b;
}
