.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
}

.title-section h1 {
    font-size: 50px;
    color: black;
}

.title-section h2 {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.para {
    font-size: 14px;
    margin-top: 5px;
    color: #777;
}

.form {
    margin-top: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-title {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

input[type="email"]:focus {
    border-color: black;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    color: #777;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #050403;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2b2b2b;
}