.success-container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.success-icon {
    font-size: 50px;
    color: #28a745;
}

.success-container h1 {
    font-size: 24px;
    color: #333;
    margin-top: 15px;
}

.success-container p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #cccccc;
    background-color: #050403;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
