.top-product-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 30px;
    gap: 20px;
}

.top-product-header h3.type {
    margin-bottom: 0;
}

.top-product-header a {
    padding: 8px 12px;
    background: #fff8f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}