
body {
    font-family: Tahoma, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.inner {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
}

h3 { /* chu: thong tin tai khoan */
    text-align: left;
    color: #333;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.checkbox-group label {
    font-size: 16px;
    color: #555;
}



.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;

}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


@media screen and (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-wrapper {
        width: 100%;
    }
}
